@import url("https://fonts.cdnfonts.com/css/gotham-pro");
body {
  line-height: 1;
  margin: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  display: flex;
}

.card__svg {
  display: flex;
}

.card__svg--line {
  fill: transparent;
  stroke: rgb(212, 210, 210);
  transform: translate(-5px, 95px);
}

.card__wrapper {
  width: 200px;
}

.percent {
  width: 200px;
  height: 200px;
  display: grid;
  margin-bottom: 50px;
}

.percent__wrapper--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}

.percent__wrapper--canvas {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.percent__svg--flag {
  width: 40px;
  height: 40px;
  transform: translate(-50%, -70%);
  position: absolute;
  top: 0;
  left: 50%;
  fill: rgb(212, 210, 210);
}

.percent__value {
  display: grid;
  font-family: "Gotham Pro", sans-serif;
  margin-top: 10px;
}

.percent__whole-part {
  font-size: 40px;
  grid-column: 1/2;
  grid-row: 1/3;
  color: rgb(72, 72, 72);
}

.percent__fractional-part {
  font-size: 20px;
  grid-column: 2/3;
  grid-row: 2/3;
  color: rgb(72, 72, 72);
}

.percent__symbol {
  font-size: 17px;
  grid-column: 2/3;
  grid-row: 1/2;
  color: rgb(212, 210, 210);
}

.percent__title {
  margin: 0;
  font-size: 19px;
  font-weight: bold;
  color: rgb(72, 72, 72);
  margin: 2px 0 7px;
}

.percent__status {
  font-size: 13px;
  color: rgb(250, 212, 47);
  font-family: "Gotham Pro", sans-serif;
  margin-bottom: 2px;
}

.percent__description {
  width: 66%;
  text-align: center;
  color: rgb(212, 210, 210);
  font-size: 10px;
  margin-bottom: 4px;
  line-height: 120%;
}

.percent__coefficient {
  font-size: 15px;
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.percent__coefficient::before {
  content: "";
  border: 8px solid transparent;
  border-bottom: 8px solid transparent;
  transform: translate(-1px, -5px);
}

.percent__coefficient--up {
  color: #71aa4a;
}
.percent__coefficient--up::before {
  border-bottom-color: #71aa4a;
}

.percent__coefficient--down {
  color: rgb(238, 61, 65);
}
.percent__coefficient--down::before {
  border-bottom-color: rgb(238, 61, 65);
}

.percent__canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.indicators {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.indicators__block {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
  font-size: 10px;
  font-weight: 400;
}

.indicators__block--green .indicators__graf--main,
.indicators__block--green .indicators__graf--another {
  background: #71aa4a;
}

.indicators__block--yellow .indicators__graf--main,
.indicators__block--yellow .indicators__graf--another {
  background: rgb(250, 212, 47);
}

.indicators__block--red .indicators__graf--main,
.indicators__block--red .indicators__graf--another {
  background: rgb(238, 61, 65);
}

.indicators__title {
  font-weight: inherit;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}

.indicators__percent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2px;
}

.indicators__graf {
  width: 75px;
  height: 28px;
  outline: 1px solid rgb(212, 210, 210);
  background: rgb(250, 250, 250);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.indicators__graf--main {
  position: absolute;
  top: 0;
  left: 0;
  height: 85%;
  width: 0;
  transition: all 0.3s ease-out;
}

.indicators__graf--another {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15%;
  opacity: 0.4;
  width: 0;
  transition: all 0.3s ease-out;
}

.indicators__span--graf {
  margin-right: 3px;
  z-index: 1;
}

.indicators__span--percent {
  font-size: 11px;
}

.indicators__svg {
  width: 12px;
  height: 12px;
  fill: rgb(212, 210, 210);
}

.indicators__person {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 3px;
  color: rgb(221, 211, 209);
}